@import "compass/reset";
@import "compass/css3";
@import "reset.scss";
@import "fonts.scss";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
@import "mixins.scss";
.login-form {
  position: absolute;
  width: 400px;
  height: 300px;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%,-50%));
  background: darken(#fff,10%);
  border: 1px solid darken(#fff,25%);
  @include rr(20px);
  &__title {
    display: block;
    padding: 10px;
    @include rl(26px);
    text-transform: uppercase;
    text-align: center;
  }
  &__input-wrapper {
    padding: 10px;
  }
  &__label {
    display: block;
    padding-bottom: 4px;
  }
  &__input {
    display: block;
    width: 100%;
    @include rr(20px);
    padding: 3px;
    border: 1px solid darken(#fff,25%);    
    &:focus {
      @include box-shadow(0 0 10px rgba(#000, .5));
    }
  }
  &__button {
    display: block;
    background: lighten(#000, 5%);
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    border: none;
    text-transform: uppercase;
    @include rr(20px);
    padding: 5px;
    cursor: pointer;
    &:hover {
      background: lighten(#000,20%);
    }
    &:focus {
      @include box-shadow(0 0 10px rgba(#000, .5));
    }
  }
  &__error {
    display: block;
    padding: 5px 10px;
    color: darken(#f00, 20%);
  }
}
