@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,700,300,300italic,700italic,400italic&subset=latin,cyrillic);
@mixin rt ($size: 14px){
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  font-weight: 100;
}
@mixin rr($size: 14px){
  font-family: 'Roboto', sans-serif;
  font-size: $size;
}
@mixin rl($size: 14px){
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  font-weight: 300;
}
@mixin ri($size: 14px){
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  font-style: italic;
}
@mixin rb($size: 14px){
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  font-weight: 700;
}
@mixin rli($size: 14px){
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  font-weight: 300;
  font-style: italic;
}
@mixin rbi($size: 14px){
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  font-weight: 700;
  font-style: italic;
}
@mixin ab($size: 14px) {
  font-family: Arial, sans-serif;
  font-size: $size;
  font-weight: bold;
}
@mixin ar($size: 14px) {
  font-family: Arial, Verdana, sans-serif;
  font-size: $size;
}
@mixin an($size: 14px) {
  font-family: "Arial Narrow", sans-serif;
  font-size: $size;
}
