$large: 959px;
$small: 500px;
$grey: #888;
@mixin clearfix {
  &:after {
    display: table;
    content: "";
    clear: both;
  }
}
@mixin response($media) {
  @if $media == tablet {
    @media only screen and (max-width: $large) { @content; }
  }
  @else if $media == iphone {
    @media only screen and (max-width: $small) { @content; }
  }
}
