@import "compass/reset";
@import "compass/css3";
@import "reset.scss";
@import "fonts.scss";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
@import "mixins.scss";
html, body {
  min-height: 100%;
  height: 100%;
}
.overlay {
  width: 100%;
  min-height: 100%;
  @include clearfix;
  margin-bottom: 60px;
  overflow: hidden;
}
.header-wrapper {
  background: url(../img/price/header-background.jpg) 50% 50% no-repeat;
  background-size: cover;
  height: 78px;
}
.header {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  @include clearfix;
  &__left, &__right {
    width: 50%;
    float: left;
    padding-top: 20px;
  }
  &__right {
    text-align: right;
  }
  &__paragraph {
    @include ab(17px);
    color: #fff;
    line-height: 20px;
  }
  &__link {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.title-bg {
  width: 100%;
  background: #ffd52c;
  height: 70px;
  margin-bottom: -70px;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  @include clearfix;
  position: relative;
  &:before {
    content: '';
    width: 100%;
    height: 70px;
    background: #ffd52c;
    position: absolute;
    z-index: -1;
  }
}
.inner {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  @include clearfix;
  min-height: 100%;
  display: table;
}
.sidebar {
  width: 330px;
  background: #ededed;
  min-height: calc(100vh - 78px);
  position: relative;
  padding-bottom: 40px;
  display: table-cell;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  height: 100vh;
  &__logo-link {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 18px 0 0;
  }
  &__logo-img {
    padding-bottom: 18px;
    border-bottom: 2px solid #d62613;
  }
  div {
    margin-left: 10px;
  }
  ul, li {
    @include ar(15px);
    color: #000;
  }
  p {
    @include ar(15px);
    color: #000;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    padding-left: 10px;
    position: relative;
    &:hover {
      text-decoration: underline;
    }
    &:before {
      content: '\2022';
      position: absolute;
      top: 3px;
      left: 2px;
    }
    &.active {
      background: #fff;
      color: #000;
      &:after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        border-right: 2px solid #fff;
        right: -2px;
        top: 0;
      }
    }
    &.has-child {
      &:before {
        content: '+'
      }
    }
  }
  li+ul {
    display: none;
  }
  li.active + ul {
    display: block;
  }
  ul {
    margin-left: 20px;
    li {
      padding-top: 4px;
      padding-bottom: 4px;
      cursor: pointer;
      padding-left: 10px;
      position: relative;
      &:before {
        content: '\2022';
        position: absolute;
        top: 3px;
        left: 2px;
      }
      &:hover {
        text-decoration: underline;
      }
      &.active {
        background: #fff;
        color: #000;
        &:after {
          content: '';
          display: block;
          position: absolute;
          height: 100%;
          border-right: 2px solid #fff;
          right: -2px;
          top: 0;
        }
      }
      &.with-childs {
        &:before {
          content: '+';
          position: absolute;
          top: 3px;
          left: 2px;
        }
        &.active {
          background: transparent;
          // color: #000;
          &:before {
            content: '-';
          }
          &.with-products {
            background: #fff;
            // color: #000;
          }
        }
      }
    }
  }
}
.content {
  // float: left;
  display: table-cell;
  width: 830px;
  padding-left: 23px;
  vertical-align: top;
}
.content-header {
  &__title, &__description {
    display: block;
    width: 100%;
    color: rgba(#000, .8);
    padding-left: 16px;
  }
  &__title {
    @include ab(30px);
    text-transform: uppercase;
    padding-top: 15px;
  }
  &__description {
    @include ar(14px);
    padding-top: 5px;
  }
}
.specials {
  width: 100%;
  margin-top: 15px;
  &__table {
    width: 100%;
    tr > td {
      background: rgba(#000, .1);
      @include an(18px);
      padding: 12px 20px;
      text-align: center;
      border: 1px solid #fff;
      border-top: 3px solid #fff;
      &:first-child {
        width: 341px;
        text-align: left;
        padding-right: 0;
      }
      &.specials__condition, &.specials__result {
        @include ar(18px);
        padding-right: 0;
        padding-left: 0;
      }
      &.specials__result {
        @include ar(18px);
        color: #d62613;
      }
    }
  }
  &__propose {
    display: inline-block;
    padding-top: 10px;
    color: rgba(#d62613, .6);
    @include ar(22px);
  }
}
.products-table {
  width: 100%;
  tr>th {
    @include ar(20px);
    padding: 10px 17px;
    border-bottom: 3px solid #a9a9a9;
    color: #000;
    &:last-child {
      width: 131px;
    }
  }
  tbody tr {
    &:nth-child(odd) {
      background: rgba(#ebebeb,.5);
    }
    td {
      @include ar(17px);
      color: #000;
      padding: 10px 17px;
    }
  }
}
.footer {
  background: #262626;
  margin-top: -60px;
  min-height: 60px;
  opacity: .999999;
  z-index: 1;
  overflow: hidden;
  &__inner {
    width: 1200px;
    margin: 0 auto;
    padding: 15px;
    @include ar(8pt);
    color: rgb(206, 206, 206);
  }
}
