* {
  box-sizing: border-box;
  outline-width: 0;
  &:after,:before {
    box-sizing: border-box;
  }
}
input, textarea, keygen, select, button {
  font-family: inherit;
}
a:focus, a:hover {
  color: inherit;
  text-decoration: none;
}
