@import "compass/reset";
@import "compass/css3";
@import "reset.scss";
@import "fonts.scss";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
@import "mixins.scss";
@for $i from 1 through 6 {
  h#{$i} {
    font-size:(36-$i*2)+px;
  }
}
.overlay {
  width: 100%;
  height: auto;
  overflow: hidden;
  min-height: 100vh;
  height: auto;
}
.sidebar {
  position: fixed;
  width: 200px;
  height: calc(100% + 60px);
  min-height: 100vh;
  @include box-shadow(5px 0 10px 0 rgba(#000, .2));
  @include response(tablet) {
    display: none;
  }
}
.sidebar__link {
  display: block;
  @include rb(14px);
  padding: 10px;
  color: lighten(#000, 10%);
  text-decoration: none;
  @include transition(.2s ease-out);
  cursor: pointer;
  &:hover,&.active {
    background: darken(#fff, 10%);
  }
  &--logo {
    @extend .sidebar__link;
    @include rt(46px);
  }
}
.wave {
  position: relative;
  overflow: hidden;
}
.ink {
  display: block;
  position: absolute;
  background: darken($grey, 10%);
  @include transform(scale(0));
  @include border-radius(100%);
  @include transition(transform .5s linear, opacity .5s linear);
  &.animated {
    @include transform(scale(2));
    opacity: 0;
  }
}
.content {
  padding: 10px 10px 10px 20px;
  margin-left: 200px;
  @include rr(14px);
  @include clearfix;
  background: lighten($grey, 40%);
  min-height: 100vh;
  @include response(tablet) {
    width: 100%;
    margin-left: 0;
  }
}
.xml-modal-view, .user-settings {
  visibility: hidden;
  &.active {
    visibility: visible;
    .modal {
      &__wrapper {
        opacity: 1;
      }
      &__inner {
        @include transform(perspective(4000px) translate3d(0, 0px, 0px) rotate3d(0, 1, 0, 0));
      }
    }
  }
}
.modal {
  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($grey, .2);
    opacity: 0;
    @include transition(.25s ease-in-out);
  }
  &__form {
    height: 100%;
  }
  &__close {
    position: absolute;
    top: 2px;
    right: 5px;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    @include transform-origin(50%,50%);
    @include transition(opacity .25s ease-in-out);
    &:hover {
      opacity: .8;
    }
  }
  &__inner {
    width: 300px;
    height: 240px;
    background: #fff;
    position: relative;
    margin: 200px auto;
    @include transform(perspective(4000px) translate3d(0, 0px, 0px) rotate3d(0, 1, 0, 34.6667deg));
    @include transition(.35s ease-out);
    @include transform-origin(100%, 0);
  }
  &__content {
    height: 100%;
  }
  &__header {
    background-color: $grey;
    padding: 10px;
    color: #fff;
    @include rb(16px);
    height: 15%;
  }
  &__body {
    height: 65%;
    padding: 10px;
  }
  &__footer {
    height: 20%;
    border-top: 1px solid $grey;
  }
  &__label {
    display: block;
    width: 100%;
    margin: 3px 0;
  }
  &__input {
    display: block;
    width: 100%;
    margin: 3px 0;
    padding: 2px;
    border: 1px solid $grey;
    @include transition(.1s ease-out);
    &:focus {
      @include box-shadow(0 0 3px 0 rgba(#000,1));
    }
  }
  &__submit {
    color: #000;
    background: #fff;
    border: none;
    display: block;
    padding: 4px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    @include transition(all 0.2s ease-out);
    &:hover {
      background: darken(#fff, 20%);
    }
  }
}

#errors {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  @include rl(16px);
  color: #fff;
  z-index: 10;
  background-color: #ee6e73;
  &.active {
    visibility: visible;
  }
  &.bad {
    background-color: #ee6e73;
  }
  &.good {
    background-color: #4DB350;
  }
}
.prod-collection {
  width: 100%;
  &__head-row {
    .sort {
      padding-left: 10px;
    }
  }
  &__head-item {
    @include rb(14px);
    padding: 5px 3px;
    background: $grey;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: darken($grey,10%);
    }
  }
}
[class^='product__'] {
  padding: 5px 3px;
}
.product {
  @include transition(all .25s ease-out);
  &__id {
    width: 40px;
  }
  &:nth-child(odd) {
    background: #fff;
  }
  &:hover,&.active {
    background: lighten($grey, 10%);
  }
}
.controls {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  @include border-radius(3px);
  background: darken($grey, 10%);
  font-size: 18px;
  padding: 5px 7px;
  &:before {
    content: "";
    position: absolute;
    display: block;
    top: -10px;
    left: 5px;
    border: 5px solid transparent;
    border-bottom: 5px solid darken($grey, 10%);
  }
  &.active {
    visibility: visible;
    .edit, .delete {
      @include transform(translate(0,0));
    }
  }
  .edit, .delete {
    color: #fff;
    padding: 3px;
    cursor: pointer;
    @include transform(translate(0,10px));
    @include transition(all .1s ease-out);
    &:hover {
      @include transform(translate(0,-2px));
    }
  }
}
.product-full {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: scroll;
  background: rgba(darken($grey, 5%), .1);
  &__inner {
    position: absolute;
    width: 90%;
    min-height: 300px;
    background: #fff;
    border: 1px solid darken($grey, 5%);
    left: 5%;
    top: 50px;
  }
  &__title {
    padding: 5px 15px;
    border-bottom: 1px solid darken($grey, 5%);
  }
  &__close {
    font-size: 32px;
  }
}
.input-wrapper {
  padding: 5px 15px;
  font-size: 14px;
  @include clearfix;
}
.input-label {
  text-align: right;
  display: block;
  padding-top: 5px;
}
input[class^="input-"], .input-textarea {
  padding-right: 3px;
  padding-left: 3px;
  border: 1px solid darken($grey, 5%);
  @include transition(all .25s ease-out);
  &:focus {
    border: 1px solid darken($grey, 25%);
    @include box-shadow(0 0 3px rgba(#000, .5));
  }
}
.input-block, .input-textarea {
  display: block;
  width: 100%;
}
[class^="col-"] {
  padding-top: 5px;
  padding-bottom: 5px;
}
.wait {
  position: relative;
  overflow: hidden;
  cursor: not-allowed;
  &:hover {
    background: #fff;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 3px;
    left: -50%;
    bottom: 0;
    @include animation(wait 2s infinite ease-out);
    background: $grey;
  }
}
@include keyframes(wait) {
	0% {
		left: -50%
	}
  100% {
    left: 100%
  }
}
